# Compiled Object files, Static and Dynamic libs (Shared Objects)
addresses.txt
*.o
*.a
*.so
api-service

# Folders
_obj
_test
public
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# fresh
tmp
api-service.log

# macOS
.DS_Store

# other
.idea
