<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
		<title> {{ .Site.Title }} </title>

		{{ partial "head.html" . }}

</head>
    {{ partial "header.html" . }}
<body>
<div class="container-fluid" id="home-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <center>
                                                {{.Site.Params.QRImage | safeHTML}}
                                        </center>
                                    </div>
                                    <div class="col-md-12">
																			<br>
																			<p>Payment Address:</p>
                                        <h4>{{.Site.Params.Address | safeHTML}}</h4>
																				<p>Payment USD Amount:</p>
                                        <p>${{.Site.Params.UsdAmount | safeHTML}}</p>
																				<p>Payment SKY Amount:</p>
																				<p>${{.Site.Params.SkyAmount | safeHTML}}</p>

                                        <p>
                                        </p>
																				{{.Site.Params.IfInvoice | safeHTML}}
                                        <p class="description">
                                        {{.Site.Params.Invoice | safeHTML}}
                                        </p>
																				{{.Site.Params.end | safeHTML}}
                                    </div>
                                </div>
                            </div>
                            <div id="IdFooter" class="panel-footer text-center">
                            <ul>
				            </ul>
                            </div>
                        </div>
                    </div>
                <div class="col-md-4"></div>
                </div>
        </div>
    </div>
    <div class="footer">
    {{ partial "footer.html" . }}
    </div>
</body>
</html>
